
<a class="header-nav-link name tooltipped tooltipped-s js-menu-target" aria-label="Change context..." aria-expanded="false">
  <!-- octicons:briefcase -->
  <svg version="1.1" width="14" height="16" viewBox="0 0 14 16" class="octicon octicon-briefcase" aria-hidden="true"><path fill-rule="evenodd" d="M9 4V3c0-.55-.45-1-1-1H6c-.55 0-1 .45-1 1v1H1c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1H9zM6 3h2v1H6V3zm7 6H8v1H6V9H1V5h1v3h10V5h1v4z"/></svg>
  <!-- endocticons -->
  <span class="dropdown-caret"></span>
</a>

<div class="dropdown-menu-content js-menu-content" aria-hidden="true" aria-expanded="false">
  <ul class="dropdown-menu dropdown-menu-sw">
    <a class="dropdown-item" href="/new" data-ga-click="Header, create new repository">
      New repository
    </a>
    <a class="dropdown-item" href="/new/import" data-ga-click="Header, import a repository">
      Import repository
    </a>
    <a class="dropdown-item" href="https://gist.github.com/" data-ga-click="Header, create new gist">
      New gist
    </a>
    <a class="dropdown-item" href="/organizations/new" data-ga-click="Header, create new organization">
      New organization
    </a>
    <div class="dropdown-divider"></div>
    <div class="dropdown-header">
      <span title="wantedly/notifications">This repository</span>
    </div>
    <a class="dropdown-item" href="/wantedly/notifications/issues/new" data-ga-click="Header, create new issue">
      New issue
    </a>
  </ul>
</div>

