<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- build:css styles/popup-vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body>
    <!-- build:js scripts/popup-vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <div ng-controller="PopupController">
      <form novalidate class="css-form">
        <label>Name: <input type="text" ng-model="context.name" required /></label><br />
        <div ng-repeat="org in context.orgs">
          Oragization:<input type='text' ng-model="org.name" />
          Option:<select ng-init="org.option = orgOptions.available[0]" ng-model="org.option" ng-options="option.name for option in orgOptions.available"></select>
        </div>
        <input type="button" ng-click="reset()" value="Reset" />
        <input type="submit" ng-click="save(context)" value="Save" />
      </form>
      <pre>context = {{context | json}}</pre>
      <pre>master = {{master | json}}</pre>
    </div>


    <!-- build:js scripts/popup.js -->
    <script src="scripts/controllers/popup.js"></script>
    <script src="scripts/popup.js"></script>
    <!-- endbuild -->
  </body>
</html>
